@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,900;1,400&display=swap');

.App {
  padding: 48px;
  font-family: 'Rubik', sans-serif;
}

.field-filter-container {
  padding: 8px;
}
.field-filter-container h3 {
  padding-bottom: 8px;
}
